NODE_ENV=
PORT=

MONGODB_ATLAS_URI=

#============ PINECONE ===================
PINECONE_API_KEY=
PINECONE_INDEX_NAME=
PINECONE_INDEX_HOST=

# ============ AWS ===================
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# =========== AZURE OPENAI ============
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_API_INSTANCE_NAME=
AZURE_OPENAI_API_EMBEDDINGS_DEPLOYMENT_NAME=
AZURE_OPENAI_API_VERSION=